*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    margin: 0;
    font-family: sans-serif;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(248, 245, 217);
}

.calendar{
    margin: auto;
    width: 800px;
    background-color: rgb(239, 250, 215);
    box-shadow: 0px 0px 15px 4px rgb(216, 231, 162);
}
.month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgb(185, 170, 35);
    color: white;
    padding: 40px 30px;
}

.weekeds{
    display: flex;
    background-color: rgb(243, 241, 105);
    color: rgb(51, 10, 2);
    padding: 7px 0;
}
.weekeds div{
    width: 14.28%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
.days{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 200;
    padding: 15px 0;
}
.days div{
    width: 16.28%;
    margin-bottom: 10px;
    padding: 10px 0;
    transition: all 0.7s;
}

.days div:hover{
    background-color: rgb(167, 225, 248);
    cursor: pointer;
}

.today{
    background-color: rgb(185, 170, 35);
    color: aliceblue;
}

.pre_day{
    color:rgb(238, 123, 123) ;
}

#month{
    color: black;
    font-size: 50px;
    font-weight: 500;
}

.prev, .next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color:rgb(8, 7, 8) ;
    border-radius: 50%;
    transition: all 0.4s;
}

.prev:hover, .next:hover{
    background-color: blueviolet;
    cursor: pointer;
}